.idea/
*.pyc
twittercredentials.py
dbcredentials.py
TwittHear-a204ccf1b234.json
.ipynb_checkpoints/
max/*.txt
aws_iam_credentials.csv
awscredentials.py
*.png
node_modules/
web/bower_components/
Twitthear Movie_1.mp4
Twitthear_A_Musification_Interface_for_Twitter.docx